/*Base Styling*/
body {
	box-sizing: border-box;
	color: #FFF;
	position: relative;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

/********Navigation Container (Left/Top Side)********/

/*Navigation Layout*/
article {
	background-color: #333;
	height: calc(100vh / 3);
	position: relative;
	width: 20vw;
}

.nav-container {
	align-items: stretch;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 60vw;
}

/*Coloring*/
.blue {
	background-color: #26AECB;
}

.onyx-gray {
	background-color: #343E3D;
}

.red {
	background-color: #E84855;
}

.seafoam {
	background-color: #9AD1AA;
}

.yellow {
	background-color: #F9DC5C;
}


/*Greatness Box*/
.button-box {
	margin-left: 2vw;
}

h1 {
	font-family: 'Indie Flower', 'Open Sans', arial, sans-serif;
	font-size: 5vh;
	margin: 7vh 2vw .5vh;
	text-transform: uppercase;
}

h2 {
	margin: 0 auto 10px;
}

p {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1.75vh;
	font-weight: 300;
	line-height: 160%;
	margin: 0 2vw;
	text-transform: none;
}

#greatness-box {
	width: 40vw;
}

.greatness-button {
	background-color: transparent;
	border: 2px solid #FFF;
	color: #FFF;
	font-size: 1.5vh;
	margin: 1.25vh 1vw 1.25vh 0vw;
	text-transform: uppercase;
	width: 20%;
}

/*Square Boxes*/
.square-box {
	align-items: center;
	display: flex;
	justify-content: center;
}

/********Image Container (Right/Bottom Side)********/

/*Image Container*/
.profile-images {
	background-image: url('images/rick_sanchez.png');
	background-size: cover;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	width: 40vw;
}

